#box{
    width: 100%;
    height: 510px;
    box-shadow: 0px 0px 10px grey;
    margin-left: 70px;
    margin-top: 0px;
    border-radius: 6px;
    overflow: auto;
    background-color: white;
}
#box::-webkit-scrollbar { width: 0 !important }

#text{
    font-family: Rubik,sans-serif;
    margin-left: 20px;
   padding-top: 5px;

}
.one{
    width: 90px;
    height: 20px;
    border: 1px solid rgb(175, 173, 173);
    text-align: center;
    border-radius: 5px;
    float: left;
    font-size: 12px;
    font-weight: bolder;
    padding-top: 5px;
   margin-left: 17px;
   color: rgb(66, 65, 65);
}
#onee{
    border: 1px solid red;
    color: red;
    cursor: pointer;
}
#chart{
    background-color: #44274b;
    color: white;  cursor: pointer;
}
#ro:hover{
    border: 1px solid red;
    color: red;  cursor: pointer;
}
.depart{
    width: 40%;
    margin-left: 20px;
    float: left;
}
.from{
    padding-top: 40px;
    font-family: Rubik,sans-serif;
    font-size: 13px;
    font-weight: bolder;
    color: grey;
}
.input{
    width: 150px;
    border: none;
    margin-top: 10px;
    font-size: 18px;
    color: black;
}
.code{
    font-size: 15px;
    font-weight: bolder;
    color: grey;
    margin-top: 5px;
}
#change{
    float: left;
    margin-top: 70px;
    margin-left: 15px;
    cursor: pointer;
}
#arrival{
    width: 40%;
    margin-left: 20px;
    float: left;
    text-align: right;
}
#de{
    margin-top: 25px;
    font-size: 20px;
}
.dei{
    margin-top: 10px;
    border: none;
    border-bottom: 1px solid; width: 190px;
}
#re{
    font-size: 14px;
    text-align: right;
    margin-right: 20px;
}
#deii{
    margin-top: 4px;
    border: none;
    border-bottom: 1px solid;
    width: 190px;
}
#option{
    width: 91%;
    background-color: white;
    margin-left: 20px;
    margin-top: 10px;
    border-bottom: 1px solid;
    cursor: pointer;
}
#drop{
  display: flex;
  justify-content: right;
 
}
#dropmenu{
    width: 90%;
    height: 158px;
   
    margin-left: 20px;
    box-shadow: 0px 0px 10px grey;
    display: none;
    
}
#dropmenu::-webkit-scrollbar { width: 0 !important }
.fl{
    float: left;
    margin-left: 30px;
    font-size: 17px;
    font-family: Rubik,sans-serif;
    margin-top: 10px;
}
.btn{
    border: 1px solid grey;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}
.ch{
    font-family: Rubik,sans-serif;
    margin-left: 20px;
}
#btnre{
    width: 170px;
    height: 40px;
    font-size: 15px;
    background-color: #228ee9;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    margin-left: 20px;
    margin-top: 20px;
    cursor: pointer;
}
#btnfl{
    cursor: pointer;
    width: 170px;
    height: 40px;
    font-size: 15px;
    background-color: #ea2330;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    margin-left: 70px;
    margin-top: 20px;
}
#btnd{
    margin-left: 200px;
    cursor: pointer;
    width: 150px;
    height: 40px;
    font-size: 15px;
    background-color: #ea2330;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    margin-bottom: 10px;
}